.product-main-visual {
  background-image: url("../../image/product-main-visual.jpg");
  padding-top: 31.2rem;
  padding-left: 22.2rem;
  margin-bottom: 19.8rem;

  & h1 {
    font-family: var(--font-archivo);
    font-size: 5rem;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    }

}

.product-main-visual::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.product-product {
  padding: 0 12rem;
  margin-bottom: 23.2rem;
}

.featured-product {
  row-gap: 12rem;
}

@media screen and (max-width:1023px) {

  .product-main-visual {
    margin-bottom: 10rem;
  }

  .product-product {
    padding: 0 6rem;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width:767px) {

  .product-main-visual {
    background-image: url("../../image/product-main-visual-mobile.jpg");
    margin-bottom: 6rem;
  }

  .product-product {
    padding: 0 1rem;
    margin-bottom: 8rem;
  }

  .featured-product-product-page {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 4rem !important;

    & .product-wrapper {
      width: 100% !important;
    }
  }

  .product-image-wrapper {
    height: 22rem !important;
  }

  .product-name {
    font-size: 1.4rem !important;
  }

  .price-and-cart {
    & .product-price {
      font-size: 1.2rem !important;
    }
  }
}
